@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  font-weight: bold;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
}
.pg-container {
  width: 365px;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 1px 0px 10px 4px #d6d1d1;
}
.gp {
  background-color: #8a8888;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
}
.form-pg {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
#length {
  width: 50px;
  border-radius: 3px;
  border: none;
  outline: none;
  -moz-appearance: textfield;
}
#length::-webkit-outer-spin-button,
#length::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.massage {
  opacity: 0;
}
.show {
  opacity: 1;
}
@media(max-width: 450px) {
  .pg-container {
    height: 100vh;
    width: 100vh;
    margin: 0;
    border-radius: 0;
  }
}